.catalog {
  width: 260px;
  margin: 0 auto;
  background-color: $white;
  padding: 30px;
  padding-bottom: 1px;
}

.catalog__zigzag-fill {
  display: none;
}

.catalog__link-description {
  text-decoration: none;
}

.catalog__item-image {
  display: block;
}

.catalog__item-info {
  padding-left: 28px;
  padding-right: 28px;
}

.catalog__item {
  margin-bottom: 30px;
  border: 1px solid $border;
}

.catalog__list {
  margin: 0;
  margin-bottom: 30px;
  padding-left: 0;
  list-style: none;
}

.catalog__item-name {
  margin: 0;
  padding-top: 27px;
  padding-bottom: 3px;
  color: $black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__item-value {
  width: 204px;
  margin: 0;
  padding-bottom: 21px;
  color: $dark-grey;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.catalog__item-price-wrapper {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid $border;
  padding-top: 25px;
  padding-bottom: 23px;
}

.catalog__item-price {
  margin: 0;
  color: $black;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}

.catalog__item-link {
  font-size: 0;
}

.catalog__icon-cart {
  fill: $cart-search;
}

@media (min-width: 768px) {
  .catalog {
    position: relative;
    width: 668px;
    padding-top: 73px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .catalog__zigzag-fill {
    width: 768px;
    position: absolute;
    display: block;
    left: 0;
    top: -15px;
  }

  .catalog__item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 55px;
  }

  .catalog__item-image {
    width: 334px;
    min-height: 334px;
  }

  .catalog__item-info {
    width: 280px;
  }

  .catalog__item-name {
    font-size: 20px;
    padding-right: 37px;
  }

  .catalog__item-value {
    width: 270px;
    font-size: 15px;
    padding-bottom: 176px;

    &--big-cart {
      padding-bottom: 147px;
    }
  }

  .catalog__item-price {
    margin-right: 165px;
    font-size: 17px;
  }

  .catalog__icon-cart {
    &:hover {
      fill: $light-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1150px) {
  .catalog {
    width: 1050px;
    padding-top: 123px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 0;
  }

  .catalog__zigzag-fill {
    width: 1150px;
    position: absolute;
    display: block;
    left: 0;
    top: -20px;
  }

  .catalog__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  .catalog__item-image {
    height: 462px;
  }

  .catalog__item-info {
    width: 260px;
  }

  .catalog__item {
    width: 316px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 0;
  }

  .catalog__item-description {
    min-height: 110px;
  }

  .catalog__item-name {
    margin: 0;
    padding-top: 27px;
    padding-bottom: 5px;
    padding-right: 27px;
    color: $black;
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
  }

  .catalog__item-value {
    width: 260px;
    margin: 0;
    margin-bottom: 13px;
    padding-bottom: 0;
    color: $dark-grey;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
  }

  .catalog__item-price {
    vertical-align: top;
    margin: 0;
    color: $black;
    font-size: 17px;
    line-height: 24px;
    font-weight: 700;
  }
}
