.catalog-menu {
  width: 320px;
  margin: 0 auto;
}

.catalog-menu__list {
  margin: 0;
  padding-left: 0;
}

.catalog-menu__item {
  list-style: none;

  &--interior {
    position: relative;
    background: $light-green;
  }

  &--toys {
    position: relative;
    background: $dark-green;
  }
}

.catalog-menu__item-icon-interior {
  position: absolute;
  right: 36px;
  top: 24px;
  fill: #149080;
  opacity: 0.5;
}

.catalog-menu__item-icon-toy {
  position: absolute;
  right: 27px;
  top: 21px;
  fill: #149080;
  opacity: 0.5;
}

.catalog-menu__link {
  display: block;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 130px;
  color: $white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 768px) {
  .catalog-menu {
    width: 768px;
    background-color: #f9f9f9;
  }

  .catalog-menu__list {
    display: flex;
    justify-content: center;
  }

  .catalog-menu__item {
    width: 334px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .catalog-menu__link {
    padding-top: 30px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 130px;
    color: $white;
    font-size: 20px;
    line-height: 30px;
  }

  .catalog-menu__item-icon-interior {
    right: 35px;
    top: 30px;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .catalog-menu__item-icon-toy {
    right: 35px;
    top: 30px;

    &:hover {
      opacity: 0.7;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1150px) {
  .catalog-menu {
    width: 1150px;
  }

  .catalog-menu__item {
    width: 210px;
  }

  .catalog-menu__item--interior {
    padding-right: 315px;
  }

  .catalog-menu__item--toys {
    padding-right: 315px;
  }
}
