.catalog-menu {
  width: 320px;
  margin: 0 auto;
}

.catalog-menu__list {
  margin: 0;
  padding-left: 0;
}

.catalog-menu__item {
  list-style: none;

  &--interior {
    position: relative;
    background: $light-green;

    &::after {
      position: absolute;
      content: "";
      right: 37px;
      top: 23px;
      width: 40px;
      height: 62px;
      opacity: 0.5;
      background: url("../../img/icon-interior.svg") no-repeat center;
    }
  }

  &--toys {
    position: relative;
    background: $dark-green;

    &::after {
      position: absolute;
      content: "";
      right: 30px;
      top: 21px;
      width: 60px;
      height: 60px;
      opacity: 0.5;
      background: url("../../img/icon-toy.svg") no-repeat center;
    }
  }
}

.catalog-menu__link {
  display: block;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 130px;
  color: $white;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
}

@media (min-width: 768px) {
  .catalog-menu {
    width: 768px;
    background-color: #f9f9f9;
  }

  .catalog-menu__list {
    display: flex;
    justify-content: center;
  }

  .catalog-menu__item {
    width: 334px;

    &:hover {
      transform: translateY(-5px);
    }
  }

  .catalog-menu__link {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 30px;
    padding-right: 130px;
    color: $white;
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1150px) {
  .catalog-menu {
    width: 1150px;
  }

  .catalog-menu__item {
    width: 525px;
  }

  .catalog-menu__link {
    width: 175px;
  }
}
