.location {
  width: 320px;
  margin: 0 auto;
  border-bottom: 1px solid $white;
  background-color: $white;
}

.location__contacts-title {
  margin: 0;
  padding: 31px 30px 26px;
  color: $black;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.location__contacts-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: $dark-grey;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.location__contacts-text {
  width: 180px;
  margin-left: 0;
  margin-bottom: 30px;

  &--e-mail {
    text-decoration: underline;
    text-decoration-color: $light-green;
    cursor: pointer;

    &:hover {
      color: $light-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.location__contacts-type {
  margin-bottom: 30px;
  width: 77px;
}

.location__map--iframe {
  display: block;
  width: 320px;
  margin: 0 auto;
  border: none;
}

.location__button {
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 40px auto;
}

@media (min-width: 768px) {
  .location {
    position: relative;
    width: 768px;

    &::before {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      right: 50px;
      top: 40px;
      background: url("../../img/icon-flag.svg") no-repeat center;
    }
  }

  .location__contacts-title {
    padding-top: 57px;
    padding-bottom: 47px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 43px;
    line-height: 50px;
  }

  .location__contacts-list {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 30px;
    font-size: 17px;
    line-height: 30px;
  }

  .location__contacts-text {
    width: 255px;
  }

  .location__map--iframe {
    width: 768px;
    height: 457px;
  }

  .location__button {
    width: 228px;
    margin-top: 51px;
    margin-bottom: 54px;

    &:hover {
      background-color: $dark-grey;
      color: $white;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1150px) {
  .location {
    width: 925px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 225px;
    padding-top: 70px;
    padding-bottom: 50px;
    margin-right: 0;

    &::before {
      position: absolute;
      content: "";
      width: 47px;
      height: 81px;
      left: 110px;
      top: 130px;
    }
  }

  .location__contacts-title {
    padding: 0;
    padding-top: 70px;
    margin-bottom: 50px;
    font-size: 53px;
    line-height: 57px;
  }

  .location__contacts-list {
    width: 350px;
    padding: 0;
  }

  .location__map--iframe {
    width: 525px;
    height: 457px;
  }

  .location__button {
    width: 230px;
    margin-left: 0;
    margin-top: -54px;
  }
}
