.main-nav {
  position: relative;
  width: 320px;
  margin: 0 auto;
}

.main-nav__list {
  position: relative;
  margin: 0;
  padding-left: 0;
}

.main-nav__item {
  list-style: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 32px;
  border-bottom: 2px solid $border;

  &--logo {
    padding-top: 23px;
    padding-bottom: 22px;
    background-color: $white;
  }

  &--search {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      top: 31px;
      left: 32px;
      background: url("../../img/icon-search.svg") no-repeat center;
    }
  }

  &--cart {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 19px;
      height: 19px;
      top: 31px;
      left: 32px;
      background: url("../../img/icon-cart.svg") no-repeat center;
    }
  }

  &--new {
    display: none;
  }

  &--sale {
    display: none;
  }

  &--delivery {
    display: none;
  }
}

.main-nav__item-link {
  text-decoration: none;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
}

.main-nav__toggle {
  z-index: 1;
  position: absolute;
  top: 30px;
  right: 30px;
  width: 21px;
  height: 21px;
  border: none;
  font-size: 0;
  background: url("../../img/icon-menu-close.svg") no-repeat;
}

@media (min-width: 768px) {
  .main-nav {
    width: 768px;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .main-nav__item-link {
    line-height: 24px;
  }

  .main-nav__item {
    border: none;

    &--logo {
      width: 320px;
      text-align: left;
      padding-left: 50px;
      border-bottom: 1px solid $border;
    }

    &--catalog {
      order: 1;
      width: 167px;
      text-align: left;
      margin-left: 50px;
      padding-top: 20px;

      a {
        font-size: 15px;
      }
    }

    &--order {
      order: 1;
      width: 167px;
      text-align: left;
      padding-top: 20px;
      margin-right: auto;

      a {
        font-size: 15px;
      }
    }

    &--search {
      width: 84px;
      padding-bottom: 26px;
      border: 1px solid $border;
      border-top: none;
      background-color: $white;

      a {
        font-size: 0;
      }
    }

    &--cart {
      width: 226px;
      flex-grow: 1;
      padding-left: 85px;
      text-align: left;
      border-bottom: 1px solid $border;
      background-color: $white;
    }

    &--new {
      display: none;
    }

    &--sale {
      display: none;
    }

    &--delivery {
      display: block;
      order: 2;
      width: 240px;
      padding-right: 50px;
      padding-top: 20px;
      text-align: right;
      font-size: 15px;
      line-height: 24px;
    }
  }
}

@media (min-width: 1150px) {
  .main-nav {
    width: 1150px;
  }

  .main-nav__item {
    border: none;
    margin: 0;

    &--logo {
      width: 167px;
      text-align: center;
      padding-left: 0;
      padding-right: 95px;
      border-bottom: 1px solid $border;
    }

    &--catalog {
      order: -1;
      width: 186px;
      padding-left: 50px;
      text-align: left;
      line-height: 24px;
      padding-top: 30px;
      background-color: $white;
      border-right: 1px solid $border;
      border-bottom: 1px solid $border;

      a {
        font-size: 17px;
      }
    }

    &--order {
      order: -1;
      width: 210px;
      text-align: left;
      padding-top: 30px;
      padding-left: 38px;
      border-bottom: 1px solid $border;
      background-color: $white;

      a {
        font-size: 17px;
      }
    }

    &--search {
      width: 84px;
      padding-bottom: 26px;
      border: 1px solid $border;
      border-top: none;
      background-color: $white;

      a {
        font-size: 0;
      }
    }

    &--cart {
      /*width: 318px;*/
      flex-grow: 1;
      padding-left: 35px;
      padding-right: 50px;
      text-align: right;
      border-bottom: 1px solid $border;
      background-color: $white;
    }

    &--new {
      display: block;
      width: 186px;
      padding-left: 50px;
      padding-top: 20px;
      text-align: left;
      font-size: 15px;
      line-height: 24px;
    }

    &--sale {
      display: block;
      width: 210px;
      padding-left: 50px;
      padding-top: 20px;
      margin-right: auto;
      text-align: left;
      font-size: 15px;
      line-height: 24px;
    }

    &--delivery {
      display: block;
      width: 240px;
      padding-right: 50px;
      padding-top: 20px;
      text-align: right;
      font-size: 15px;
      line-height: 24px;
    }
  }
}
