.manufacture {
  width: 260px;
  margin: 0 auto;
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 0;
  padding-bottom: 58px;
}

.manufacture__wrapper {
  position: relative;
  border: 1px solid $border;
}

.manufacture__item-image {
  display: block;
}

.manufacture__title {
  position: relative;
  margin: 0;
  padding-top: 25px;
  padding-left: 90px;
  padding-bottom: 24px;
  color: $black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  &::before {
    position: absolute;
    content: "";
    left: 35px;
    top: 35px;
    width: 32px;
    height: 22px;
    background: url("../../img/icon-video.svg") no-repeat center;
  }
}

.manufacture__text {
  margin: 0;
  padding-left: 34px;
  padding-right: 32px;
  padding-top: 28px;
  margin-bottom: 24px;
  color: $dark-grey;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.manufacture__video::before {
  position: absolute;
  content: "";
  top: 135px;
  left: 80px;
  width: 101px;
  height: 77px;
  background: url("../../img/icon-play.svg") no-repeat center;
}

.manufacture__video:hover::before {
  transform: scale(1.2);
}

.manufacture__order {
  width: 190px;
  margin: 0 auto;
  padding-bottom: 15px;
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 16px;
}

@media (min-width: 768px) {
  .manufacture {
    width: 668px;
    padding: 50px;
    padding-bottom: 60px;
  }

  .manufacture__wrapper {
    display: flex;
    flex-direction: column;
  }

  .manufacture__video {
    order: -1;

    &::before {
      top: 190px;
      left: 280px;
    }
  }

  .manufacture__item-image {
    width: 100%;
  }

  .manufacture__title {
    font-size: 20px;
    padding-left: 107px;
    padding-top: 35px;

    &::before {
      left: 43px;
      top: 35px;
    }
  }

  .manufacture__text {
    font-size: 15px;
    line-height: 30px;
    padding-left: 41px;
    padding-right: 41px;
    padding-top: 10px;
    margin-bottom: 34px;
  }

  .manufacture__order {
    width: 580px;
    margin-bottom: 45px;

    &:hover {
      background-color: $dark-grey;
      color: $white;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: 1150px) {
  .manufacture {
    width: 1050px;
    padding: 50px;
    padding-top: 55px;
    padding-bottom: 105px;
  }

  .manufacture__wrapper {
    flex-direction: row;
  }

  .manufacture__video {
    width: 680px;
  }

  .manufacture__title {
    max-width: 260px;
    margin-right: -340px;
    padding: 0;
    padding-left: 80px;
    padding-top: 93px;

    &::before {
      top: 45px;
      left: 85px;
    }
  }

  .manufacture__wrapper-order {
    z-index: 2;
    width: 235px;
    padding-left: 105px;
    padding-right: 54px;
    padding-top: 145px;
  }

  .manufacture__text {
    padding-left: 0;
    padding-right: 0;
    padding-top: 30px;
    margin-bottom: 45px;
    font-size: 15px;
    line-height: 30px;
  }

  .manufacture__order {
    width: 230px;
    margin-left: 0;
  }
}
