.modal {
  width: 260px;
  margin: 0 auto;
  background-color: $white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 35px;
  padding-bottom: 45px;
  margin-bottom: 10px;
}

.modal__title {
  margin: 0;
  color: $black;
  text-transform: uppercase;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 5px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}

.modal__text {
  margin: 0;
  margin-bottom: 25px;
  color: $dark-grey;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}

.modal__list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal__item {
  width: 80px;
}

.modal__item input[type="radio"] {
  display: none;
}

.modal__item input[type="radio"]:checked ~ label {
  border: 2px solid $light-green;
}

.modal__item label {
  display: block;
  padding-top: 18px;
  padding-bottom: 18px;
  border: 2px solid $border;
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  text-transform: uppercase;
  color: $dark-grey;
  font-weight: 700;
  margin-bottom: 30px;
  cursor: pointer;

  &:hover {
    border: 2px solid #c7c7c7;
  }
}

.modal__button {
  width: 260px;
  background-color: #63d1bb;
  font-size: 17px;
  line-height: 16px;
  color: $white;
  border: none;
  cursor: pointer;
}

@media (min-width: 768px) {
  .modal {
    width: 566px;
    padding-left: 0;
    padding-right: 0;
  }

  .modal__title {
    padding: 0;
    margin-bottom: 15px;
    font-size: 30px;
    line-height: 57px;
  }

  .modal__text {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 18px;
  }

  .modal__choice-size {
    width: 350px;
    margin: 0 auto;
  }

  .modal__button {
    margin: 0 auto;
    width: 350px;

    &:hover {
      background-color: $dark-grey;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .modal__item {
    width: 110px;
  }
}
