.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  background: #ffffff;
  border-top: 1px solid #ffffff;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

@media (min-width: 768px) {
  .page-header {
    width: 768px;
    height: 92px;
  }
}
