.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: $light-grey;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  width: 260px;
  border-bottom: 1px solid #e5e5e5;
  padding-top: 26px;
  padding-bottom: 24px;
  margin: 0 auto;
  background-color: $light-grey;
}

.page-footer__social-list {
  display: flex;
  width: 140px;
  margin: auto;
  align-items: center;
  justify-content: space-between;
  padding-left: 0;
}

.page-footer__social-item {
  display: flex;
  list-style: none;
}

.page-footer__social-link {
  text-decoration: none;
  color: $black;
  font-weight: 400;
  font-size: 0;
}

.page-footer__icon-fb {
  &:hover {
    fill: $footer-icon-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__icon-inst {
  &:hover {
    fill: $footer-icon-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__icon-tw {
  &:hover {
    fill: $footer-icon-hover;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-text {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 70px;
  font-size: 19px;
  line-height: 18px;
  color: $black;
  font-weight: 700;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  width: 28px;
  height: 35px;
  font-size: 0;
  text-decoration: none;
}

.page-footer__copyright-icon {
  fill: $light-green;

  &:hover {
    fill: $dark-green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .page-footer {
    display: flex;
    align-items: center;
    width: 668px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .page-footer__logo {
    display: block;
    width: 190px;
    margin-right: auto;
  }

  .page-footer__logo-image {
    cursor: pointer;

    &:hover {
      fill: $footer-icon-hover;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__social {
    width: 140px;
    margin: 0;
    margin-right: auto;
    padding-top: 55px;
    padding-bottom: 55px;
    border: none;
  }

  .page-footer__copyright-text {
    padding-left: 0;
  }
}

@media (min-width: 1150px) {
  .page-footer {
    width: 1050px;
  }

  .page-footer__logo {
    width: 190px;
    display: block;
    margin-right: auto;
  }

  .page-footer__social {
    margin-right: auto;
  }

  .page-footer__copyright-text {
    padding-left: 0;
  }
}
