.catalog-menu__list {
  border: 2px solid red;
  margin: 0;
  padding-left: 0;
}

.catalog-menu__item-interior {
  list-style: none;
  background: #63d1bb;
}

.catalog-menu__item-toys {
  list-style: none;
  background: #56c3b2;
}

.catalog-menu__text {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 110px;
  color: #ffffff;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-menu__link {
  text-decoration: none;
}
