.catalog {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
}

.catalog-list {
  padding-left: 0px;
}

.catalog-item {
  list-style: none;
}

.catalog-item__name {
  margin: 0px;
  padding-top: 27px;
  padding-bottom: 20px;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.catalog-item__value {
  margin: 0px;
  padding-bottom: 21px;
  color: #444444;
  font-size: 13px;
  line-height: 30px;
  font-weight: 400;
}

.catalog-item__price {
  margin: 0px;
  padding-bottom: 21px;
  color: #000;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
}