.contacts {
  border: 2px solid red;
  background-color: #ffffff;
}

.contacts-title {
  margin: 0;
  padding: 38px 30px;
  color: #000000;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.contacts-list {
  margin: 0;
  padding-left: 30px;
  padding-right: 30px;
  color: #444444;
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
}

.contacts-text {
  padding-bottom: 33px;
}

.write-button {
  display: block;
  margin: 40px 30px;
  border: 2px solid #444444;
  padding-top: 18px;
  padding-bottom: 18px;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
}
