.page-header {
  padding-left: 30px;
  padding-right: 30px;
  background: #ffffff;
  border: 2px solid red;
  font-size: 17px;
  line-height: 24px;
  color: #000000;
}

.main-nav__list {
  padding-left: 0;
}

.main-nav__item {
  list-style: none;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 32px;

  a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
  }
}
