.manufacture {
  border: 2px solid red;
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.manufacture__title {
  margin: 0px;
  padding-left: 64px;
  padding-top: 24px;
  padding-bottom: 24px;
  color: #000;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.manufacture__text {
  margin: 0px;
  padding-left: 8px;
  padding-top: 30px;
  margin-bottom: 28px;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.manufacture__order {
  display: block;
  border: 2px solid #444;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 30px;
  text-decoration: none;
  color: #444444;
  text-transform: uppercase;
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  text-align: center;
}
