.order-form {
  background-color: #fff;
  padding-left: 30px;
  padding-right: 30px;
}

.order-form__text {
  margin: 0px;
  padding-top: 30px;
  margin-bottom: 28px;
  color: #444444;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
}

.order-form__list {
  padding-left: 0px;
}

.order-form__item {
  list-style: none;
}

.order-form__note {
  margin: 0px;
  color: #444444;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
}
