.page-footer__copyright {
  border: 2px solid blue;
  background-color: #f1f1f1;
}

.page-footer__copyright-text {
  display: inline-block;
  padding: 30px;
  color: #000000;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}

.page-footer__copyright-link {
  display: inline-block;
  text-decoration: none;
  color: #63d1bb;
}
