.page-footer {
  border: 2px solid green;
}

.page-footer__social {
  border: 2px solid red;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #f1f1f1;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  padding-left: 0;
}

.page-footer__social-item {
  list-style: none;

  a {
    text-decoration: none;
    color: #000000;
    font-weight: 400;
  }
}
