$black: #000000;
$light-grey: #f1f1f1;
$dark-grey: #444444;
$white: #ffffff;
$footer-icon-hover: #46c1ae;
$light-green: #63d1bb;
$dark-green: #56c3b2;
$border: #ececec;
$cart-search: #d5d5d5;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
